* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 18px 100px;
  border-bottom: 1px solid black;
}

.menu-logo {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.menu-content {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.menu-list-item {
  margin: 5px 25px;
}

.menu-link {
  text-decoration: none;
  color: black;
  transition: 0.1s;
  padding-bottom: 5px;
}

.menu-link:hover {
  border-bottom: 1.5px solid black;
}

.menu-button-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 35px;
}

.menu-button-list-item {
  background-color: black;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid black;
  transition: 0.3s;
}

.menu-button-list-item:hover {
  background-color: white;
}

.menu-button {
  display: block;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  transition: 0.3s;
}

.menu-button:hover {
  color: black;
}

.menu-toggle {
  display: none;
  margin-left: 50px;
}

.menu-toggle-link {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .menu {
    padding: 12px 25px;
  }
}

@media screen and (max-width: 1200px) {
  .menu-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .menu-button-list {
    display: none;
  }

  .menu-logo {
    font-size: 25px;
  }
}
