* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Menu - Start */
.menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 18px 100px;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.menu-logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 400;
}

.menu-content {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

.menu-list-item {
  margin: 5px 25px;
}

.menu-link {
  text-decoration: none;
  color: black;
  transition: 0.1s;
  padding-bottom: 5px;
}

.menu-link:hover {
  border-bottom: 1.5px solid black;
}

.menu-button-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 35px;
}

.menu-button-list-item {
  background-color: black;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid black;
  transition: 0.3s;
}

.menu-button-list-item:hover {
  background-color: white;
}

.menu-button {
  display: block;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.menu-button:hover {
  color: black;
}

.menu-toggle {
  display: none;
  margin-left: 50px;
}

.menu-toggle-link {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/* Menu - End */

/* Subscription Hero - Start */
.site-main {
  background-image: url("./hypnotize_bg.webp");
}

.subscription-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.subscription-hero-column {
  max-width: 500px;
}

.hero-title {
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 25px;
}

.hero-text {
  font-size: 25px;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.hero-button {
  background-color: black;
  color: white;
  margin: 20px auto;
  padding: 18px 20px;
  width: 220px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  transition: 0.5s;
}

.hero-button:hover,
.hero-button:nth-child(2n) {
  background-color: white;
  color: black;
}

.hero-button:nth-child(2n):hover {
  background-color: black;
  color: white;
}

.subscription-hero-column.right-column {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 100%;
  border-radius: 80px;
  border: 1px solid black;
}
/* Subscription Hero - End */

/* Conversion Intro - Start */
.conversion-intro {
  background-color: white;
  border-top: 1px solid black;
  display: flex;
}

.conversion-column {
  padding: 150px 100px;
  display: flex;
  flex-direction: column;
}

.conversion-row.first {
  height: 100px;
}

.conversion-column.left-column,
.conversion-column.right-column {
  width: 50%;
}

.conversion-column.left-column {
  background-color: #dbfebd;
}

.conversion-column.right-column {
}

.conversion-column.left-column .conversion-column-text {
  font-size: 34px;
}

.conversion-column.left-column .conversion-column-img {
  width: 80px;
  margin-bottom: 20px;
}

.conversion-column.right-column .conversion-column-text {
  font-size: 23px;
}

.conversion-column-button {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 18px 40px;
  margin: 25px 0 0;
  border-radius: 10px;
  border: 1px solid black;
  transition: 0.5s;
  font-size: 18px;
}

.conversion-column-button:hover {
  background-color: white;
  color: black;
}

/* Conversion Intro - End */

/* What's Included - Start */
.whats-included {
  display: flex;
  background-image: url("./hypnotize_bg.webp");
  background-attachment: fixed;
  border-top: 1px solid black;
  padding: 100px 100px 40px;
}

.included-sticky {
  width: 30%;
  padding-right: 25px;
  position: sticky;
  top: 150px;
  align-self: flex-start;
}

.included-sticky .pre-header {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #bbebfd;
  border-radius: 20px;
  font-size: 13px;
}

.included-sticky .main-header {
  font-size: 40px;
  font-weight: 300;
}

.included-scroll {
  width: 70%;
  padding-left: 15px;
}

.included-scroll .description {
  display: flex;
  margin-bottom: 100px;
}

.included-scroll .description .description-img-area {
  background-color: #dbfebd;
  padding: 20px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.included-scroll .description .description-img-area .description-img {
  width: 80px;
}

.included-scroll .description .description-text {
  font-size: 32px;
  margin-left: 75px;
}

.cards {
  margin-top: 200px;
}

.card-wrapper {
  position: relative;
  margin-bottom: 80px;
}

.card-background {
  background-color: white;
  border: 1px solid black;
  min-height: 200px;
  width: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

.card {
  background-color: #f3f3f3;
  border: 1px solid black;
  min-height: 200px;
  position: relative;
  display: flex;
  z-index: 2;
}

.card-column.left-column {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-img-area {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-area .card-img {
  width: 70px;
}

.card-column.right-column {
  width: 85%;
  padding: 30px 100px 30px 75px;
}

.card-header {
  font-size: 30px;
  font-weight: 400;
}

.card-description {
  margin-top: 30px;
  font-size: 20px;
  word-spacing: 2px;
}

.audit-list {
  margin-top: 25px;
  list-style-type: none;
}

.audit-list .list-item {
  margin-top: 14px;
  background-color: white;
  display: table;
  padding: 7px 15px;
  border-radius: 20px;
}

.audit-list .list-item::before {
  content: "✓";
  margin-right: 5px;
  color: #555;
}

.icon-bg-diamond {
  background-color: #bbebff;
}

.icon-bg-peach-puff {
  background: #ffd4c1;
}
/* What's Included - End */

@media screen and (max-width: 1400px) {
  .menu {
    padding: 12px 25px;
  }

  .conversion-column {
    padding: 150px 75px;
  }

  .whats-included {
    flex-direction: column;
  }

  .included-sticky {
    position: static;
    width: 100%;
  }

  .included-scroll {
    width: 100%;
  }

  .included-scroll .description {
    margin-top: 80px;
  }

  .cards {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .menu-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-img {
    width: 80%;
    border-radius: 50px;
  }

  .conversion-column {
    padding: 100px 50px;
  }

  .conversion-column.left-column .conversion-column-text {
    font-size: 28px;
  }

  .conversion-column.right-column .conversion-column-text {
    font-size: 21px;
  }

  .card-column.right-column {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 1000px) {
  .subscription-hero {
    display: flex;
    flex-direction: column;
  }

  .subscription-hero-column.left-column {
    max-width: 700px;
    margin: auto 50px;
  }

  .hero-button {
    width: 45%;
  }

  .subscription-hero-column.right-column {
    max-width: 85%;
    margin-top: 35px;
  }

  .hero-img {
    width: 100%;
  }

  .conversion-intro {
    flex-direction: column;
  }

  .conversion-column.left-column,
  .conversion-column.right-column {
    width: 100%;
  }

  .conversion-column.right-column .conversion-row.first {
    display: none;
  }

  .whats-included {
    padding: 100px 50px 40px;
  }
}

@media screen and (max-width: 900px) {
  .menu-button-list {
    display: none;
  }

  .menu-logo {
    font-size: 25px;
  }

  .included-sticky .main-header {
    font-size: 35px;
  }

  .included-scroll {
    padding-left: 0;
  }

  .included-scroll .description {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .included-scroll .description .description-text {
    margin-left: 0;
    font-size: 23px;
  }

  .included-scroll .description .description-img-area {
    display: none;
  }

  .cards {
    margin-top: 50px;
  }

  .included-scroll .card-wrapper .card {
    flex-direction: column;
  }

  .card .card-column.right-column {
    width: 100%;
    padding: 30px;
  }

  .card-img-area {
    width: 45px;
    height: 45px;
  }

  .card-img-area .card-img {
    width: 35px;
  }

  .card-header {
    font-size: 25px;
  }

  .card-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .hero-buttons {
    display: flex;
    flex-direction: column;
  }

  .hero-button {
    width: 100%;
    margin: 15px auto;
  }

  .conversion-column {
    padding: 75px 30px;
  }

  .conversion-column.left-column .conversion-column-text {
    font-size: 24px;
  }

  .conversion-column.right-column .conversion-column-text {
    font-size: 19px;
  }

  .conversion-column-button {
    font-size: 16px;
  }

  .whats-included {
    padding: 100px 25px 40px;
  }

  .included-sticky .main-header {
    font-size: 30px;
  }

  .included-scroll .description .description-text {
    font-size: 20px;
  }
}
