*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // font-family: $font-google;
  // font-weight: $font-weight;
  font-family: "Inter";
  font-weight: 300;
  font-size: 1rem;
}
