// Fonts
// $font-google: null !default;
$font-google: "Inter";
$font-weight: 300;

// Colors
$black: #030309 !default;
$white: #ffffff !default;

// Borders
$border-default-color: $black;
$border-default-width: 1px;
$border-default-style: solid;
