* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  margin-top: 50px;
}

.header .profile-photo {
  width: 200px;
  opacity: 0.8;
  border-radius: 10px;
}

.header .profile-info {
  margin-left: 50px;
}

.about-section {
  width: 600px;
  margin: 100px 0;
}

.interests-section {
  margin-bottom: 100px;
}

.contact-section {
}

.contact-section .section-title {
  margin-bottom: 30px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.footer {
  background-color: whitesmoke;
  color: black;
  margin: 100px 0 0;
  padding: 50px 0;
  width: 100%;
}

.footer .footer-text {
  text-align: center;
}
